@media (max-width: 1240px) {
    .navbar-collapse,
    .navbar {
      flex-direction: column;
      padding: 0;
    }
    .navbar ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        margin: auto;
        padding: 0;
    }
    nav ul li {
        margin: 10px 0;
    }
    .navbar-collapse {
      display:none;
    }
    .navbar-toggler {
        display: flex !important;
        cursor: pointer;
    }
    .toggle-show {
        display: flex;
    }
    /* .sub-header .toggle-show {
        width: 30% !important;
    }
    header {
        width: 0 !important;
    } */
}

@media (max-width: 992px) {
    .header-text > h2 {
        font-size: 35px !important;
    }
    
    .header-text > h1 {
        font-size: 55px !important;
    }

    .courses .row {
        flex-direction: column !important;
    }    
    
    .pricing-packages {
        flex-direction: column !important;
        margin: 0 !important;
    }

    .package {
        margin: 0 !important;
        margin-top: 60px !important;
    }

    .contact-us > div > form > div {
        flex-direction: column !important;
    }
    .contact-us-left > input {
        margin: 10px 0 !important;
    }

    .contact-us-left > input:first-child {
        margin-top: 0 !important;
    }

    .contact-us-left > input:last-child {
        margin-bottom: 0 !important;
    }

    .footer-block > div {
        flex-direction: column-reverse !important;
        align-items: center !important;
    }

    .footer-left {
        width: auto !important;
        margin-top: 15px !important;
    }


    .sub-navbar-toggler {
        display: flex !important;
        cursor: pointer;
        position: relative;
        left: 20px;
        top: 20px;
        background-color: rgb(254, 209, 54) !important;
    }
    .sub-header {
        width: 0 !important;
    }
    .sub-toggle-show {
        width: 400px !important;
    }
}

@media (max-width: 768px) {
    .header-text > h2 {
        font-size: 30px !important;
    }
    
    .header-text > h1 {
        font-size: 40px !important;
    }

    .about-us .row {
        flex-direction: column !important;
    }    

}

@media (max-width: 576px) {
    .header-text > h2 {
        font-size: 25px !important;
    }
    
    .header-text > h1 {
        font-size: 35px !important;
    }

}