* {
    outline: 1px red solid;
    margin: 0;
}

a {
    text-decoration: none;
}
/* ******************* */


header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: #ffd700;
}

nav {
	max-width: 1140px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
    list-style: none;
    padding: 0 50px;
}

nav ul li {
	margin-left: 50px;
    font-family: sans-serif;
	font-size: 24px;
    font-weight: bold;
	color: black;
}
nav ul li a {
	color: black;
}
