/* * {
    outline: 1px red solid;
}  */

a {
    text-decoration: none;
}

body { 
    margin: 0;
}

h2 {
    font-family: 'montserrat_bold';
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0;
}
h3 {
    font-family: 'montserrat_bold';
    font-size: 18px;
    color: rgb(0, 0, 0);
}

h4 {
    font-family: 'droid_serif_italic';
    font-size: 16px;
    text-align: center;
    color: rgb(119, 119, 119);
}

h5 {
    font-family: 'montserrat_regular';
    font-size: 14px;
    color: rgb(119, 119, 119);
    margin-bottom: 0;
}

p {
    font-family: 'roboto_slab_regular';
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.button-y {
    padding: 15px 50px !important;
    background: white;
    font-family: 'montserrat_bold';
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
/* ============================================= */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd700;
    /* background: url('../img/background.gif') 50% 50% / cover no-repeat; */
    overflow: hidden;
}

.navbar-toggler {
    display: none;
}

nav {
    padding: 20px 0;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: black;
    font-family: 'montserrat_regular';
    font-size: 18px;
    text-transform: uppercase;
}


nav ul li a:hover {
    color: rgb(255, 255, 255);
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.header-text > h2 {
    font-family: 'droid_serif_italic';
    font-size: 40px;
    color: black;
    text-transform: capitalize;
}

.header-text > h1 {
    font-family: 'montserrat_bold';
    font-size: 75px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 30px 0;
}

/* ============================================= */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
.modal button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336 !important;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border: 1px rgb(254, 209, 54) solid;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 30px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
/* ============================================= */

.about-us{
    padding: 80px 0;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
}

.about-us-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.about-us-block > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 8px rgb(254, 209, 54) solid;
    border-radius: 100%;
}

.about-us-block > div > h4 {
    margin: 0;
    font-family: 'montserrat_bold';
    font-size: 24px;
    color: black;
    margin-bottom: 0;
}

.about-us-block > h3 {
    margin: 20px 0;
}

.about-us h4 {
    margin-bottom: 25px;
}

/* ============================================= */

.pricing {
    padding: 80px 0;
    display: flex;
    background: url('../img/pricing.jpg') 50% 50% / cover no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pricing h2 {
    color: white;
}

.pricing-options {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:first-child {
    display: inline-block;
    padding: 1rem 3.5rem;
    border: none;
    font-size: 1rem;
    font-family: 'montserrat_bold';
    border-radius: 10px 0 0 10px;
}

.option:last-child {
    display: inline-block;
    padding: 1rem 3.5rem;
    border: none;
    font-size: 1rem;
    font-family: 'montserrat_bold';
    border-radius: 0 10px 10px 0;
}

.option-active {
    background-color: rgb(254, 209, 54);
    color: #fff;
}

.pricing-packages {
    display: flex;
    margin: 5rem 0;
    justify-content: space-around;
}

.package {
    width: 280px;
    text-align: center;
    background-color: #F8F8F8;
    padding: 1.5rem;
    border-radius: 10px;
}

.package p {
    font-family: 'montserrat_bold';
}

.package .button-y {
    background: rgb(254, 209, 54);
    margin-bottom: 2rem;
}

.package-type {
    font-size: 1rem;
    color: #696871;
}

.package-price {
    font-size: 4rem;
    font-weight: 700;
    padding: 0.5rem 0 1rem 0;
}

.package-price > span {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
}

.package-included {
    margin-bottom: 2rem;
}

.package-included p {
    padding: 1rem;
    color: #696871;
    font-size: 1.1rem;
}

.enhanced {
    background-color: rgb(254, 209, 54);
    transform: scale3d(1.1, 1.1, 1.1);
    margin: 0 50px;
}
.enhanced .button-y {
    display: inline-block;
    background: white;
}

.enhanced .package-included p,
.enhanced .package-price,
.enhanced .package-type {
    color: #fff;
}



.enhanced .package-link {
    background-color: rgb(254, 209, 54);
    color: #fff;
}

/* ============================================= */

.courses {
    padding: 80px 0;
}

.courses > div > figcaption {
    margin-bottom: 25px;
    font-family: 'droid_serif_italic';
    font-size: 16px;
    text-align: center;
    color: rgb(119, 119, 119);
}

.courses-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.courses-img {
    width: 290px;
    height: 300px;
}

.courses-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.courses-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 120px;
    text-align: center;
    background: rgb(245, 245, 245);
}

/* ============================================= */

.contact-us {
    padding: 80px 0;
    text-align: center;
    background: url('../img/contact_us.jpg') 50% 50% / cover no-repeat;
}

.contact-us div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us > div > h2 {
    color: rgb(255, 255, 255);
}

.contact-us > div > h4 {
    margin-bottom: 20px;
}

.contact-us > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1240px;
}

.contact-us > div > form > div {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.contact-us > div > form > a {
    margin-top: 50px;
}

.contact-us-left,
.contact-us-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.contact-us-left > input,
.contact-us-right > textarea {
    padding: 20px 20px;
    width: 80%;
    margin-bottom: 30px;
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 3px;
}

.contact-us-left > input::placeholder,
.contact-us-right > textarea::placeholder {
    font-family: 'montserrat_bold';
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(187, 187, 187);
}

.contact-us-left > input:focus,
.contact-us-right > textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(254, 209, 54);
}

.contact-us-right > textarea {
    height: 194px;
}

.contact-us button {
    margin-top: 20px;
    padding: 15px 50px !important;
    background: rgb(254, 209, 54);
    color: white;
    font-family: 'montserrat_bold';
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}


/* ============================================= */

.footer-block {
    padding: 30px 0;
}

.footer-block h5 {
    margin: 0;
}

.footer-block > div {
    display: flex;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-right {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-center {
    display: flex;
}

.footer-center > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 100%;
    background: rgb(0, 0, 0);
    font-family: 'ico';
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
}